/* Soluzione qui */

/* **Modalità Large Mobile** (576px) BONUS */

@media screen and (min-width: 576px) {
    .presentation img{
        float: left;
        margin-right: 10px;

    }

    .social-networks{
        display: flex;
        flex-wrap: wrap;  /* scelta di flex wrap poichè il bottone youtube veniva tasgliato*/
    }

    .btn{
        padding: 10px 50px;
        /* width: 20%; o flex-grow: 1; vedi sotto la spiegazione */
    }
}


/* **Modalità Tablet** (sopra i 768px) */

@media screen and (min-width: 768px) {
    #topbar{
        justify-content: left;

        
    }

    .container{
        padding: 35px;
    }

    .recipe-origin{
        display: inline; /*display: inline-block; non serve sempre, poichè preferibile restituire all'elemento il proprio tipo di base*/
    }

    .recipe-name {
        font-size: 35px;
    }

    .recipe-origin{
        font-size: 35px;
    
    }

    

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        justify-content: left;
    }

    .btn{
        padding: 10px 50px;
        /* width: 20%; o flex-grow: 1; scelte migliori poiche non sono dimensioni fisse come potrebbero essere i padding migliore in assoluto flex grow*/
    }

    .ads{
        display: block;
    }

    .presentation img{
        float: left;
        margin-right: 10px;

    }
}




/* **Modalità Desktop**(sopra i 992px) */

@media screen and (min-width: 992px) {
    #topbar{
        justify-content: left;

        
    }

    .recipe-name {
        font-size: 50px;
    }

    .recipe-origin{
        font-size: 50px;
    
    }

    .recipe-card{
        display: flex;
        
    }

    .recipe-video{
        width: 70%;
        /* aspect-ratio: 16 / 9; per centrare tumbnail del video di youtube */
        height: auto;
    }

    .recipe-info{
        width: 30%;
    }

    .btn{
        padding: 10px;
        /* width: 20%; soluzione migliore poichè percentuale meglio flex grow 1 */
    }

    .social-networks .label{
        display: inline-block;
        padding: 10px;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }

    footer address{
        text-align: left;
    }
}